{% extends 'base.html' %}
{% block body %}
{% load static %}
        <div class="posts">


        <!-- conndections -->
            <div class="view friends smaller-margin">
                <div class="upper" style="margin-bottom:40px ;">
                    <h6>Your connections</h6>
                </div>
                <div class="joinedgroup-container">
                    <div class="online">
                        {% for i in myconnectionslist %}
                        <div class="user">
                            {% if i.user.id != profile_instances.id %}
                            <div class="profile">
                                <img src="{{ i.user.client.image.url }}" alt="">
                            </div>
                           <div class="connect-action" style="display: flex; justify-content: space-between; width: 100%;">
                            <a href="commonprofile.html"><h4>{{ i.user.first_name }}</h4></a>
                            <a href="{% url 'removeconnection' i.id %}" class="remove">remove</a>
                           </div>
                        </div>
                        {% else %}
                                                    <div class="profile">
                                <img src="{{ i.client.image.url }}" alt="">
                            </div>
                           <div class="connect-action" style="display: flex; justify-content: space-between; width: 100%;">
                            <a href="commonprofile.html"><h4>{{ i.client.user.first_name }}</h4></a>
                            <a href="{% url 'removeconnection' i.id %}" class="remove">remove</a>
                           </div>
                        </div>
                    {% endif %}

                        {% endfor %}
                        <!-- ends -->
                    </div>
                </div>
            </div>
        </div>

{% endblock %}