{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="posts" >
            <div class="timeline">
                <!--create post-->
                <div class="view create-post">
                    <div class="input">
                        <div class="user">
                            <div class="profile">
                                <img src="{{ profile_instances.image.url }}" alt="">
                            </div>
                        </div>
                        <form id="postForm" style="width:100%" method="post" enctype="multipart/form-data" action="{% url 'loadaddgrouppost1' %}">
                             {% csrf_token %}

                            <textarea id="postContent" placeholder="What's on your mind, Anne?" rows="10" style="border-radius: 10px;" required name="postcontent"></textarea>
                            <div class="image-div">
                                <!-- Selected image will be displayed here -->
                            </div>
                            <div class="media">
                                <div class="category">
                                    <div class="option">
                                        <div class="icon">
                                            <img src="{% static 'img/img/icons/hashtag.png' %}" alt="">
                                        </div>
                                        <input type="text" id="hashtags" placeholder="#addhashtags" name="hash_tag" required>
                                        <input type="hidden" name="gid" value="{{ gid }}">
                                    </div>
                                    <div class="option image-input" onclick="openImageDialog()">
                                        <div class="icon">
                                            <img src="{% static 'img/img/icons/photos.svg' %}" alt="">
                                        </div>
                                        <span id="imagebtn">Add Photo
                                            <input id="file" type="file" accept="image/*"  name="postfile" style="display: none;" required>
                                        </span>
                                    </div>
                                    <button type="submit" class="post-btn">Post</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}