{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="posts">
            <div class="timeline">

                <!--group-->
                <div class="group">
                   <div class="group-image" style="background-image: url('{{ wandergroup_instances.groupimage.url }}');"></div>
                       <div class="group-cnt">
                           <div class="group-heading">{{ wandergroup_instances.groupname }}</div>
                           <div class="group-count">{{ groupmember_count }} members</div>
                           <div class="group-description">
                               <p>{{ wandergroup_instances.groupdescription }}</p>
                           </div>
                       </div>
                   </div>

                    <div class="view smaller-margin">
                       <div class="upper">
                           <div class="title">
                               <div class="icon">
                                   <img src="{% static 'img/img/icons/groups.png' %}" alt="groups" width="30px" height="35px">
                               </div>
                               <span style="padding-left: 10px;">Group members</span>
                           </div>

                           <!-- if joined group -->
                           <a href="{% url 'joingrouprequest' wandergroup_instances.id %}">join group</a>

                       </div>


                       <div class="members-container">
                           <div class="members">
                           <!-- groups loop here -->
                               {% for i in groupmemberinstance %}

                           <div class="item">
                                <div class="user">
                                   <div class="memberprofile">

                                      <abbr title="{{ i.user.first_name }}">
                                        <img src="{{ i.user.client.image.url }}" alt="">
                                      </abbr>
                                   </div>
                               </div>
                           </div>

                               {% endfor %}





                           <!--loop ends-->
                        </div>
                        <div class="button-container">
                            <button class="see-all-button">See All</button>
                        </div>
                    </div>

                </div>

                <!--post container-->
                <div class="view view-post-container smaller-margin">
                    <!-- loop here -->
                    {% for x in postingroup %}
                    <div class="view-post">
                        <div class="upper">
                            <div class="d-flex">
                                <div class="user">
                                    <div class="profile">
                                        <img src="{{ x.user.client.image.url }}" alt="">
                                    </div>
                                </div>

                                <div class="info">
                                    <h6 class="name">
                                        {{ x.user.username }}
                                    </h6>
                                    <span class="time">{{ i.created_at|timesince }} ago</span>
                                </div>
                            </div>

                            <div class="dots">
                                <div class="dot"></div>
                            </div>
                        </div>

                        <div class="desc">
                            <p>{{ i.postcontent }}</p>
                        </div>

                        <div class="post-img">
                            <img src="{{ i.postfile.url }}" alt="">
                        </div>

                        <div class="actions-container">
                            <div class="action">
                                <div class="icon">
                                    <img src="{% static '/img/img/icons/thumbs-up.svg' %}" alt="">
                                </div>
                                <span>
                                    like
                                </span>
                            </div>

                            <div class="action" onclick="displayComments('post1')">
                                <div class="icon">
                                    <img src="{% static '/img/img/icons/comment.svg' %}" alt="">
                                </div>
                                <span>
                                    comment
                                </span>
                            </div>

                            <div class="action">
                                <div class="icon">
                                    <img src="{% static '/img/img/icons/share.svg' %}" alt="">
                                </div>
                                <span>
                                    share
                                </span>
                            </div>
                        </div>

                         <!-- comments -->
                       <div class="comment-div" id="comment-div-post1" style="display: none;">
                        <h5 style="color: #ddd7d7; margin-top: 20px;">comments</h5>
                           <!-- comments loop here -->

                           <div class="comment-container">
                               <img src="img/avatar/1.jpg" alt="User 1" class="profile-img">
                               <div class="comment-content">
                                  <h4>User 1</h4>
                                  <p>This is the first comment from User 1.</p>
                               </div>
                            </div>
                           <!-- ends -->
                           {% endfor %}
                       </div>
                    </div>
                </div>


            </div>
        </div>
{% endblock %}